<div class="inner-wrapper kufi">



    <section class="about">
        <p>يهتم هذا المقرر بدراسة أهم المدارس الفكرية في علم الاجتماع فيما يخص تكوين وتطور المجتمع والعلاقات الإجتماعية كما يناقش مفهوم السلطة ودور الفرد و الجماعة في التفاعل معها وفقا للنظريات الإجتماعية المختلفة. كذا يناقش المقرر أهم المفكرين الذين ساهموا في تكوين علم الإجتماع بشكله الحالي.</p>
    </section>

    <section class="course-staff">
        <nav>
            <a href="#" class="active">المعيدون</a>
        </nav>
        <article class="teacher">
            <div class="teacher-image">
                <!--
            <img src="/static/images/pl-faculty.ffeb747183dd.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
            -->
            </div>

            <h3>أ/سمر السعدني</h3>
        </article>
    </section>

    <section class="faq">
        <section class="responses">
            <nav>
                <a href="#" class="active">معلومات رئيسية</a>
            </nav>
            <article class="response">
                <h3>قائمة القراءات لأساسية</h3>
                <ul>
                    <li>ابن خلدون والتاريخ</li>
                    <li>إيميل دوركهايم ونشأة علم الإجتماع</li>
                    <li>كارل ماركس ونظرية الصراع Conflict و الطبقات الإجتماعية</li>
                    <li>ماكس فيبر (الرأسمالية و الأخلاق البروتسانتينية) نظرية الفعل الإجتماعي Social Action</li>
                    <li>دور الفرد مقابل الجماعة (جون ديوي)</li>
                    <li>التكوين الإجتماعي /الأبنية الإجتماعية Social Structure</li>
                    <li>النظرية الوظيفية Functionalism</li>
                    <li>النظرية البنيوية Structuralism</li>
                </ul>
            </article>

            <article class="response">
                <h3>طريقة التقييم</h3>
                <p>اجمالي درجات المقرر 100% موزعة كالآتي:</p>
                <ul>
                    <li>50% امتحان نهائي</li>
                    <li>15% حضور ومشاركة</li>
                    <li>35% أنشطة</li>
                </ul>
            </article>
        </section>
    </section>


</div>