<section class="about">
    <h2>أهداف المقرر</h2>
    <p>يشمل هذا المقرر التعريف بموضوع الفكر السياسي بشكل عام، مع استعراض الإسهام الفكري لأهم     الفلاسفة الغربيين الكلاسيكيين، ورؤاهم المتبانية للسلطة والدولة وعلاقتهما بالمجتمع والإنسان.</p>
</section>


<section class="course-staff">
    <h2>معيد المقرر</h2>
    <article class="teacher">
        <div class="teacher-image">
            <!--
            <img src="/static/images/pl-faculty.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
            -->
        </div>

        <h3>د. محمد عفان</h3>
    </article>
</section>

<section class="faq">
    <section class="responses">
        <h2>الأسئلة الشائعة</h2>
        <article class="response">
            <h3>محاور المقرر</h3>
            <ul>
                <li>التعريف بمفهوم الفكر السياسي</li>
                <li>التعريف بمفهوم السلطة عند ميكافيللي.</li>
                <li>فلاسفة العقد الاجتماعي وإسهامهم في الفكر السياسي الغربي.</li>
                <li>التعريف بالفلسفة المادية الماركسية، ورؤيتها للدولة.</li>
                <li>التعريف بالفاشية ونموذج الدولة عند موسوليني.</li>
                <li>التعريف بالفلسفة النفعية عند جون استيوارت مل.</li>
            </ul>
        </article>

        <article class="response">
            <h3>المحاضرة الرئيسية</h3>
            <h4>د. هبه رؤوف عزت</h4>
        </article>

        <article class="response">
            <h3>الكتاب الأساسي</h3>
            <ul>
                <li><h4>William Ebenstein: Great Political Thinkers: Plato to the present</h4></li>
                <li><h4>ليو اشتراوس،جوزيف كروبسي(ترجمة: محمدسيدأحمد)، تاريخ الفلسفة السياسية.</h4></li>
                <li><h4>د. إبراهيم دسوقي أباظة، د.عبد العزيز الغنام، تاريخ الفكر السياسي.</h4></li>
            </ul>
            
        </article>
        <article class="response">
            <h3>الموعدالأسبوعي</h3>
            <p>السبت السادسة مساء بتوقيت مكة المكرمة</p>
        </article>
        <article class="response">
            <h3>طريقة التقييم</h3>
            <ul>
                <li>الحضور والتفاعل 15% </li>
                <li>امتحان نصفي (اختيار من متعدد) 15%</li>
                <li>إعداد ورقة نقدية (1000 كلمة) حول أحد الموضوعات الآتية: 20%</li>
            </ul>
        </article>
    </section>
</section>