<div class="inner-wrapper">



    <section class="about">
        <p>يهدف هذا المقرر الى تزويد الطالب بالمبادئ الأساسية لعلم الاقتصاد بشقيه الجزئي والكلى، وتشمل كل من الطلب، والعرض، وتوازن السوق ، الإنتاج الإجمالي وطرق حسابه، والسياسات الاقتصادية، وما يتعلق بذلك من مفاهيم ونظريات.</p>
    </section>

    <section class="course-staff">
        <nav>
            <a href="#" class="active">المُحاضِر</a>
        </nav>
        <article class="teacher">
            <div class="teacher-image">
                <!--
            <img src="/static/images/pl-faculty.ffeb747183dd.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
            -->
            </div>

            <h3>د/ عبد الله شحاتة</h3>
        </article>
    </section>

    <section class="course-staff">
        <nav>
            <a href="#" class="active">المعيدين</a>
        </nav>
        <article class="teacher">
            <div class="teacher-image">
                <!--
            <img src="/static/images/pl-faculty.ffeb747183dd.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
            -->
            </div>

            <h3>أ/مها أيمن</h3>
        </article>
    </section>

    <section class="faq">
        <section class="responses">
            <nav>
                <a href="#" class="active">معلومات رئيسية</a>
            </nav>
            <article class="response">
                <h3>أهداف المقرر</h3>
                <ul>
                    <li>المقدرة على تعريف علم الاقتصاد</li>
                    <li>الإلمام بجوهر المشكلة الاقتصادية</li>
                    <li>معرفة عناصر الاقتصاد الجزئي والاقتصاد الكلي والتمييز بينهما</li>
                    <li>الإلمام بنظرية العرض والطلب ومحددات كل منهما</li>
                    <li>الإحاطة بالمفاهيم الأساسية لعناصر الاقتصاد الكلي</li>
                    <li>معرفة أنواع السياسات الاقتصادية الكلية والتمييز بينها</li>
                    <li>معرفة نبذة عن تحديات التنمية الاقتصادية</li>
                </ul>
            </article>

            <article class="response">
                <h3>الكتاب الأساسي</h3>
                <ul>
                    <li>
                        <h4>Economics 18th edition, Samuelson, Paul and William Nordhaus, McGraw-Hill, 2005</h4>
                    </li>
                    <li>
                        <h4>مقدمة الاقتصاد, المؤسسة العامة للتعليم الفني والتدريب المهني، المملكة العربية السعودية.</h4>
                    </li>
                </ul>


            </article>
            <article class="response">
                <h3>طريقة التقييم</h3>
                <p>اجمالي درجات المقرر 100% موزعة كالآتي:</p>
                <ul>
                    <li>50% الامتحان النهائي</li>
                    <li>25% امتحان نصفي</li>
                    <li>15% تكليفات</li>
                    <li>10% حضور وتفاعل</li>

                </ul>
            </article>
            <article class="response">
                <h3>الموعدالأسبوعي</h3>
                <p>الأحد 6:00م بتوقيت مكة المكرمة</p>
            </article>
        </section>
    </section>


</div>