<div class="inner-wrapper kufi">



    <section class="about">
        <p>يهدف هذا المقرر الى تزويد الطالب بالمبادئ الأساسية لعلم الاقتصاد بشقيه الجزئي والكلى، وتشمل كل من الطلب، والعرض، وتوازن السوق ، الإنتاج الإجمالي وطرق حسابه، والسياسات الاقتصادية، وما يتعلق بذلك من مفاهيم ونظريات.</p>
    </section>

    <section class="course-staff">
        <nav>
            <a href="#" class="active">المُحاضِر</a>
        </nav>
        <article class="teacher">
            <div class="teacher-image">
                <!--
            <img src="/static/images/pl-faculty.ffeb747183dd.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
            -->
            </div>

            <h3>د/ عبد الله شحاتة</h3>
        </article>
    </section>

    <section class="course-staff">
        <nav>
            <a href="#" class="active">المعيدين</a>
        </nav>
        <article class="teacher">
            <div class="teacher-image">
                <!--
            <img src="/static/images/pl-faculty.ffeb747183dd.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
            -->
            </div>

            <h3>أ/مها أيمن</h3>
        </article>
    </section>

    <section class="faq">
        <section class="responses">
            <nav>
                <a href="#" class="active">معلومات رئيسية</a>
            </nav>
            <article class="response">
                <h3>أهداف المقرر</h3>
                <ul>
                    <li>المقدرة على تعريف علم الاقتصاد</li>
                    <li>الإلمام بجوهر المشكلة الاقتصادية</li>
                    <li>معرفة عناصر الاقتصاد الجزئي والاقتصاد الكلي والتمييز بينهما</li>
                    <li>الإلمام بنظرية العرض والطلب ومحددات كل منهما</li>
                    <li>الإحاطة بالمفاهيم الأساسية لعناصر الاقتصاد الكلي</li>
                    <li>معرفة أنواع السياسات الاقتصادية الكلية والتمييز بينها</li>
                    <li>معرفة نبذة عن تحديات التنمية الاقتصادية</li>
                </ul>
            </article>

            <article class="response">
                <h3>الكتاب الأساسي</h3>
                <ul>
                    <li>
                        <h4>Economics 18th edition, Samuelson, Paul and William Nordhaus, McGraw-Hill, 2005</h4>
                    </li>
                    <li>
                        <h4>مقدمة الاقتصاد, المؤسسة العامة للتعليم الفني والتدريب المهني، المملكة العربية السعودية.</h4>
                    </li>
                </ul>


            </article>
            <article class="response">
                <h3>طريقة التقييم</h3>
                <p>اجمالي درجات المقرر 100% موزعة كالآتي:</p>
                <ul>
                    <li>50% الامتحان النهائي</li>
                    <li>25% امتحان نصفي</li>
                    <li>15% تكليفات</li>
                    <li>10% حضور وتفاعل</li>

                </ul>
            </article>
            <article class="response">
                <h3>الموعدالأسبوعي</h3>
                <p>الأحد 6:00م بتوقيت مكة المكرمة</p>
            </article>
        </section>
    </section>


</div>

<div>

    <section class="about">
        <p>يهدف هذا المقرر الى تزويد الطلاب بالمعارف الرئيسية اللازمة للتعرف على حقل العلوم السياسية, و ذلك من خلال مطالعة الأيديولوجيات السياسية الرئيسة، و أهم القضايا الخاصة بدراسة النظم السياسية و تكوينها.</p>
    </section>

    <section class="course-staff">
        <nav>
            <a href="#" class="active">المُحاضِر</a>
        </nav>
        <article class="teacher">
            <div class="teacher-image">
                <!--
            <img src="/static/images/pl-faculty.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
            -->
            </div>

            <h3>د. محمد بشير صفار</h3>
        </article>

        <article class="teacher">
            <div class="teacher-image">
                <!--
            <img src="/static/images/pl-faculty.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #2">
            -->
            </div>

            <h3>د. أمل حمادة.</h3>
        </article>
    </section>

    <section class="course-staff">
         <nav>
            <a href="#" class="active">المعيدين</a>
        </nav>
        <article class="teacher">
            <div class="teacher-image">
                <!--
            <img src="/static/images/pl-faculty.png" align="left" style="margin:0 20 px 0" alt="Course Staff Image #1">
            -->
            </div>

            <h3>أ.ضحى سمير مصطفى.</h3>
            <ul>
                <li>
                    <span>مدرس مساعد بكلية الاقتصاد والعلوم السياسية جامعة القاهرة</span>
                </li>
                <li>
                    <span>بكالريوس العلوم السياسية &nbsp;من كلية الاقتصاد والعلوم السياسية جامعة القاهرة</span>
                </li>
                <li>
                    <span>حاصلة على ماجستير النظم السياسية المقارنة من الجامعة المريكية بالقاهرة</span>
                </li>
                <li>
                    <span>حاصلة على دبلوم السياسات العامة والادارة العامة من الجامعة الأمريكية</span>
                </li>
            </ul>
        </article>
    </section>

    <section class="faq">
        <section class="responses">
             <nav>
            <a href="#" class="active">الموعدالأسبوعي</a>
        </nav>
            <article class="response">
                <h3>ماهي قائمة القرائات الأساسية؟</h3>
                <ul>
                    <li>Andrew Heywood, Political Theory An Introduction, (New York, Palgrave, 2004)</li>
                    <li>اندرو هيود. محمد صفار (مترجم)، مدخل الى الأيديولوجيات السياسية، (القاهرة، المركز القومى للترجمة، 2012)</li>
                    <li>أجزاء متنوعة من كتب عبد الوهاب المسير (قراءة حرة)، مقترح:
                        <ul>
                            <li>العلمانية الشاملة و الجزئية.</li>
                            <li>العلمانية تحت المجهر</li>
                            <li>الحداثة و ما بعد الحداثة.</li>
                            <li>دراسات معرفية في الحداثة الغربية.</li>
                        </ul>
                    </li>
                </ul>
            </article>

            <article class="response">
                <h3>قائمة القراءات الإضافية</h3>
                <p>مجموعة من الدراسات سيتم اضافتها للطلاب لاحقا لتسهيل عملية كتابة الأوراق البحثية.</p>
            </article>

            <article class="response">
                <h3>طريقة التقييم</h3>
                <ul>
                    <li>إعداد ورقة واحدة حول مفهوم الديمقراطية التداولية- التشاورية Deliberative Democracy لا تتجاوز 500 كلمة لمناقشتها بأحد اللقاءات التفاعلية. 20% (يتم التسليم في 48-11-2014)</li>
                    <li>ورقة بحثية قصيرة لا تقل عن 1000 كلمة و لا تتجاوز 2000 كلمة 30% (يتم التسليم قى 25-11-2014).</li>
                    <li>أجزاء متنوعة من كتب عبد الوهاب المسير (قراءة حرة)، مقترح:</li>
                    <li>الامتحان النهائي 50%</li>

                </ul>
            </article>
            <article class="response">
                <h3>موضوعات الأوراق البحثية</h3>
                يمكن للطالب ان يختار من بين قائمة الموضوعات الأتية:-
                <ol>
                    <li>ما بعد الكولونيالية- ما بعد الاستعمارة</li>
                    <li>العلمانية</li>
                    <li>العقد الاجتماعى</li>
                    <li>المجتمع المدنى</li>
                    <li>المجال العام</li>
                    <li>نظريات نشأة الدولة</li>
                    <li>1) مابعد الأيديولوجية.</li>

                </ol>
                <p>على ان يتم توثيق هذه الأوراق توثيقا علميا بحيث تتم مراعاة قواعد الأمانة العلمية، و ألا يقل عدد المراجع المستخدمة عن مرجعين رئيسيين.</p>
            </article>
        </section>
    </section>
</div>