<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about kufi">
    <h1 class="title">${_("Terms of Service")}</h1>
    <p>يلتزم الطلاب بالسلوك الأخلاقي اللائق، بما يتضمن:
    </p>
    <ul>
        <li>
            <span>التزام بالأمانة العلمية وعدم الإخلال بها في حضور اللقاءات والأنشطة والأبحاث والامتحانات، واحترام حقوق الملكية الفكرية للمواد العلمية المقدمة.</span>
        </li>
        <li>
            <span>التعامل اللائق مع المعيدين والعاملين بالمعهد وزملائه الطلاب، سواء في اللقاءات التفاعلية أو في التواصل عبر البريد الإلكتروني أو صفحات مواقع التواصل الإجتماعي</span>
        </li>
    </ul>

    <p>وفي حال إخلال الطالب بأي من هذين السلوكين، يحق لإدارة المعهد أن تتخذ الإجراء العقابي الملائم، من  الجزاءات الآتية:
    </p>
     <ul>
        <li>
            <span> لفت النظر</span>
        </li>
        <li>
            <span>خصم علامات</span>
        </li>
        <li>
            <span>تعليق عضويته في صفحات مواقع التواصل الاجتماعي</span>
        </li>
        <li>
            <span>عتبار الطالب راسبا في مادة أو أكثر</span>
        </li>
        <li>
            <span>وقف تسجيل الطالب بالمعهد لمدة محددة</span>
        </li>
        <li>
            <span>إلغاء قيد الطالب من المعهد نهائيا.</span>
        </li>

    </ul>
</section>
