
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
//variables
//=========
$default-layout-direction: RTL;
$sans-serif: 'Droid Arabic Kufi', 'Open Sans', $verdana, sans-serif;

//header overrides
//================
header.global{
	border-bottom: 0;

	h1.logo {
		float: right;
	}

	.nav-courseware {
		float: left;

		li .cta {
			@include button(flat);
		}
	}
}

//general
//=========
.hide {
	display: none;
}

//home page
//===========
.home-section {
	min-height: 500px;
	@include fill-parent();

	>div {
		@include outer-container();
	}

	.content {
		@include outer-container();
	}
}

.ivory {
	background-color: ivory;
}

.crimson {
	background-color: crimson;
}

.palegreen {
	background-color: palegreen;
}

.home>header {
	background-color: crimson;
	border-bottom: 0;

	.outer-wrapper {
		padding: 0;
		@include outer-container();

		.call-to-action.sign-up {
			@include span-columns(6);
			text-align: center;
		}

		.call-to-action.log-in {
			@include span-columns(6);
			text-align: center;
		}
	}
}

//login page
//=============
.view-login {
	.content-wrapper {
		padding: 100px 0;
		background: transparent url(/static/images/2048.jpg) center center no-repeat fixed;
		background-size: cover;
	}

	.login {
		&.container {
			background: none;
		}
		.content {
			width: 600px;
			float: none;
			margin: 0 auto;
			padding: 30px;
			background-color: rgba(255, 255, 255, 0.4);
		}
	}
}

//footer overrides
//================
.wrapper-footer {
	border-top: 0;
	background-color: SteelBlue;
	color: darkslategrey;

	footer .colophon {
		float: right;
		margin-left: flex-gutter();

		.nav-colophon li {
			float: right;
			margin-left: 15px;

			:hover {
				color: #777;
			}
		}

		.colophon-about p {
			float: right;
			margin-right: 20px;
			padding-right: 20px;
			text-align: right;
			background: transparent url(/static/images/bg-footer-divider.jpg) 100% 0 no-repeat;
		}

		.colophon-about img {
			float: right;
		}
	}

	footer .references {
		float: left;

		.nav-social {
		text-align: left;
		}

		.nav-legal, 
		.copyright {
			text-align: left;
		}
	}
}
