
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
//variables
//=========
$default-layout-direction: RTL;
$sans-serif: 'Droid Arabic Kufi', 'Open Sans', $verdana, sans-serif;

//navigation overrides
//================
header.global {
	border-bottom: 0;

	h1.logo {
		float: right;

		img {
			width: 50px;
			height: 58px;
		}
	}

	.nav-courseware {
		float: left;

		li .cta {
			@include button(flat);
		}
	}
	ol.user {
		float: left;
	}

	&.slim {
		nav h2 {
			float: right;
			text-align: right;
		}
		.logo {
			margin: 0 13px 0 10px;
			padding-right: 0;
			padding-left: 20px;

			&:before {
    		  position: absolute;
    		  left: 0;
    		}

    		&:after {
    		  position: absolute;
    		  left: 0;
    		}

			img {
				height: 30px;
				width: 27px;
			}
		}
	}
}

//general
//=========
body {
	background-color: #e9eaed;

}

#content {
	background-color: #e9eaed;
}

.hide {
	display: none;
}



//home page
//===========
.section-block {
	min-height: 500px;
	@include fill-parent();

	>div {
		@include outer-container();
	}

	.content {
		@include outer-container();
	}
}

.ivory {
	background-color: ivory;
}

.crimson {
	background-color: crimson;
}

.palegreen {
	background-color: palegreen;
}

.home>header {
	background-color: crimson;
	border-bottom: 0;

	.outer-wrapper {
		padding: 0;
		@include outer-container();

		.call-to-action.sign-up {
			@include span-columns(6);
			text-align: center;
		}

		.call-to-action.log-in {
			@include span-columns(6);
			text-align: center;
		}
	}
}

//login page
//=============
.view-login {
	.content-wrapper {
		background-color: aliceblue;
		padding: 100px 0;
		background: transparent url(/static/images/2048.jpg) center center no-repeat fixed;
		background-size: cover;
	}

	.login {
		&.container {
			background: none;
		}
		.content {
			width: 600px;
			float: none;
			margin: 0 auto;
			padding: 30px;
			background-color: rgba(255, 255, 255, 0.4);
		}
	}
}

#login-form {
	text-align: right;
}

//register page
//=============
.view-register {
	.content-wrapper {
		background-color: aliceblue;
		padding: 100px 0;
		background: transparent url(/static/images/2048.jpg) center center no-repeat fixed;
		background-size: cover;
	}

	.register {
		&.container {
			background: none;
		}
		.content {
			width: 600px;
			float: none;
			margin: 0 auto;
			padding: 30px;
			background-color: rgba(255, 255, 255, 0.4);
		}
	}
}

#register-form {
	text-align: right;
}


//footer overrides
//================
.wrapper-footer {
	border-top: 0;
	background-color: SteelBlue;
	color: darkslategrey;

	footer .colophon {
		float: right;
		margin-left: flex-gutter();

		.nav-colophon li {
			float: right;
			margin-left: 15px;

			:hover {
				color: #777;
			}
		}

		.colophon-about p {
			float: right;
			margin-right: 20px;
			padding-right: 20px;
			text-align: right;
			background: transparent url(/static/images/bg-footer-divider.jpg) 100% 0 no-repeat;
		}

		.colophon-about img {
			float: right;
			height: 74px;
		}
	}

	footer .references {
		float: left;

		.nav-social {
		text-align: left;
		}

		.nav-legal, 
		.copyright {
			text-align: left;
		}
	}
}


//course profile
//================

#intro-inner-wrapper {
	background-color: rgba(255, 255, 255, 0.7);
	border: none;
}

.course-info {
	header.course-profile {
		border-bottom: none;

		.intro-inner-wrapper .intro>hgroup h1 {
			text-align: right;
		}
	}
	.header-info {
		@include outer-container();
		background-color: rgba(0, 0, 0, 0.3);
		padding: 20px 0;

		h1 {
			color: #FFFFF0;
			text-shadow: 1px 1px #222;
			padding: 20px 150px 0 150px;
			letter-spacing: -1px;
		}

		.play-icon {
            @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)));
            border-radius: 4px;
            box-shadow: 0 1px 12px 0 rgba(0,0,0, 0.4);
            border: 1px solid rgba(255,255,255, 0.8);
            height: 80px;
            margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
            width: 80px;

            &::after {
              color: rgba(255,255,255, 0.8);
              content: "\25B6";
              display: block;
              font: normal 2em/1em $sans-serif;
              margin-left: 30px;
			  margin-right: auto;
			  margin-top: 20px;
              text-shadow: 0 -1px rgba(0,0,0, 0.8);
            }
        }	
	}

	.info-bar {
		height: 60px;
		background-color: #fff;
		border-bottom: 1px solid #d3d6db;
	}

	.container {
		background: #fff;
		margin-top: 30px;
		border: 1px solid #d3d6db;
		border-radius: 3px;
	}
}

//course listing
//================
body .highlighted-courses .courses .courses-listing .courses-listing-item, 
.find-courses .courses .courses-listing .courses-listing-item {
	float: right;
}

//student-dashboard
//=================
.dashboard {
	.my-courses {
		text-align: right;

		.course .info>hgroup .university {
			text-align: left;
		}
		.listing-courses {
			.course-item {
				background-color: #fff;
				border: 1px solid #d3d6db;
				padding: 20px;
				border-radius: 3px;

				&:last-child {
					padding-bottom: 20px;
					border-bottom: 1px solid #d3d6db;					
				}
			}

		}
	}
}