 		<form id="stripe-form" action="${action}" method="POST">
 			% for pk, pv in params.iteritems():
                <input type="hidden" name="${pk}" value="${pv}" />
            % endfor
            	<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
		  <script
		    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		    data-key="pk_test_yrNR7N5jcsqo23tbvR8OJZeE"
		    data-image="/square-image.png"
		    data-name="Syasi.org"
		    data-email: "${data_email}"
		    data-description="Pying for Syasi.org courses"
		    data-amount="${total_payment}">
		  </script>
		</form>
		<p>OR</p>
		<form id="bank-payment" action="bank_payments/new_payment_request/" method="POST">
 			% for pk, pv in params.iteritems():
                <input type="hidden" name="${pk}" value="${pv}" />
            % endfor
            <textarea id="payment_request_details" name="payment_request_details" placeholder="type your request detials here" value="" required></textarea>
            <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
            <input type="submit" value="Bank Payment" />
		</form>