<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7" lang="ar"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="ar"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="ar"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ar">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">










    <title>
        | Syasi
    </title>


    <script type="text/javascript">
    /* immediately break out of an iframe if coming from the marketing website */
    (function(window) {
        if (window.location !== window.top.location) {
            window.top.location = window.location;
        }
    })(this);
    </script>

    <script type="text/javascript" src="/jsi18n/"></script>

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />


    <link href="http://syasi.org/static/css/lms-style-vendor.css" rel="stylesheet" type="text/css" />




    <link href="http://syasi.org/static/css/lms-style-app.css" rel="stylesheet" type="text/css" />




    <link href="http://syasi.org/static/css/lms-style-app-extend1.css" rel="stylesheet" type="text/css" />




    <link href="http://syasi.org/static/css/lms-style-app-extend2.css" rel="stylesheet" type="text/css" />




    <link href="http://syasi.org/static/css/daress-landing.css" rel="stylesheet" type="text/css" />






    <script type="text/javascript" src="http://syasi.org/static/js/lms-main_vendor.js" charset="utf-8"></script>









    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.d5e37d8ee1a4.js"></script>
  <![endif]-->

    <meta name="path_prefix" content="">
    <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY" />

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-53587187-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>


    <!-- begin Segment.io -->





    <script type="text/javascript">
    // Asynchronously load Segment.io's analytics.js library
    window.analytics || (window.analytics = []), window.analytics.methods = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "page", "pageview", "ab", "alias", "ready", "group", "on", "once", "off"], window.analytics.factory = function(t) {
        return function() {
            var a = Array.prototype.slice.call(arguments);
            return a.unshift(t), window.analytics.push(a), window.analytics
        }
    };
    for (var i = 0; i < window.analytics.methods.length; i++) {
        var method = window.analytics.methods[i];
        window.analytics[method] = window.analytics.factory(method)
    }
    window.analytics.load = function(t) {
            var a = document.createElement("script");
            a.type = "text/javascript", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + t + "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n)
        }, window.analytics.SNIPPET_VERSION = "2.0.8",
        analytics.load("wgrvnniefh");


    // Get current page URL and pull out the path
    path = window.location.href.split("/")[3]
        // Match on the current path and fire the appropriate pageview event
    if (path == "register") {
        // Registration page viewed
        analytics.page("Registration");
    } else if (path == "login") {
        // Login page viewed
        analytics.page("Login");
    } else if (path == "dashboard") {
        // Dashboard viewed
        analytics.page("Dashboard");
    } else {
        // This event serves as a catch-all, firing when any other page is viewed
        analytics.page("Other");
    }
    </script>
    <!-- end Segment.io -->


    <link rel="stylesheet" type="text/css" href="http://syasi.org/static/js/vendor/slick-slider/slick/slick.309b8d5ef962.css" />
    <script type="text/javascript">
    window.NREUM || (NREUM = {}), __nr_require = function(n, t, e) {
        function r(e) {
            if (!t[e]) {
                var o = t[e] = {
                    exports: {}
                };
                n[e][0].call(o.exports, function(t) {
                    var o = n[e][1][t];
                    return r(o ? o : t)
                }, o, o.exports)
            }
            return t[e].exports
        }
        if ("function" == typeof __nr_require) return __nr_require;
        for (var o = 0; o < e.length; o++) r(e[o]);
        return r
    }({
        QJf3ax: [function(n, t) {
            function e(n) {
                function t(t, e, a) {
                    n && n(t, e, a), a || (a = {});
                    for (var u = c(t), f = u.length, s = i(a, o, r), p = 0; f > p; p++) u[p].apply(s, e);
                    return s
                }

                function a(n, t) {
                    f[n] = c(n).concat(t)
                }

                function c(n) {
                    return f[n] || []
                }

                function u() {
                    return e(t)
                }
                var f = {};
                return {
                    on: a,
                    emit: t,
                    create: u,
                    listeners: c,
                    _events: f
                }
            }

            function r() {
                return {}
            }
            var o = "nr@context",
                i = n("gos");
            t.exports = e()
        }, {
            gos: "7eSDFh"
        }],
        ee: [function(n, t) {
            t.exports = n("QJf3ax")
        }, {}],
        gos: [function(n, t) {
            t.exports = n("7eSDFh")
        }, {}],
        "7eSDFh": [function(n, t) {
            function e(n, t, e) {
                if (r.call(n, t)) return n[t];
                var o = e();
                if (Object.defineProperty && Object.keys) try {
                    return Object.defineProperty(n, t, {
                        value: o,
                        writable: !0,
                        enumerable: !1
                    }), o
                } catch (i) {}
                return n[t] = o, o
            }
            var r = Object.prototype.hasOwnProperty;
            t.exports = e
        }, {}],
        D5DuLP: [function(n, t) {
            function e(n, t, e) {
                return r.listeners(n).length ? r.emit(n, t, e) : (o[n] || (o[n] = []), void o[n].push(t))
            }
            var r = n("ee").create(),
                o = {};
            t.exports = e, e.ee = r, r.q = o
        }, {
            ee: "QJf3ax"
        }],
        handle: [function(n, t) {
            t.exports = n("D5DuLP")
        }, {}],
        XL7HBI: [function(n, t) {
            function e(n) {
                var t = typeof n;
                return !n || "object" !== t && "function" !== t ? -1 : n === window ? 0 : i(n, o, function() {
                    return r++
                })
            }
            var r = 1,
                o = "nr@id",
                i = n("gos");
            t.exports = e
        }, {
            gos: "7eSDFh"
        }],
        id: [function(n, t) {
            t.exports = n("XL7HBI")
        }, {}],
        loader: [function(n, t) {
            t.exports = n("G9z0Bl")
        }, {}],
        G9z0Bl: [function(n, t) {
            function e() {
                var n = v.info = NREUM.info;
                if (n && n.licenseKey && n.applicationID && f && f.body) {
                    c(d, function(t, e) {
                        t in n || (n[t] = e)
                    }), v.proto = "https" === l.split(":")[0] || n.sslForHttp ? "https://" : "http://", a("mark", ["onload", i()]);
                    var t = f.createElement("script");
                    t.src = v.proto + n.agent, f.body.appendChild(t)
                }
            }

            function r() {
                "complete" === f.readyState && o()
            }

            function o() {
                a("mark", ["domContent", i()])
            }

            function i() {
                return (new Date).getTime()
            }
            var a = n("handle"),
                c = n(1),
                u = window,
                f = u.document,
                s = "addEventListener",
                p = "attachEvent",
                l = ("" + location).split("?")[0],
                d = {
                    beacon: "bam.nr-data.net",
                    errorBeacon: "bam.nr-data.net",
                    agent: "js-agent.newrelic.com/nr-515.min.js"
                },
                v = t.exports = {
                    offset: i(),
                    origin: l,
                    features: {}
                };
            f[s] ? (f[s]("DOMContentLoaded", o, !1), u[s]("load", e, !1)) : (f[p]("onreadystatechange", r), u[p]("onload", e)), a("mark", ["firstbyte", i()])
        }, {
            1: 11,
            handle: "D5DuLP"
        }],
        11: [function(n, t) {
            function e(n, t) {
                var e = [],
                    o = "",
                    i = 0;
                for (o in n) r.call(n, o) && (e[i] = t(o, n[o]), i += 1);
                return e
            }
            var r = Object.prototype.hasOwnProperty;
            t.exports = e
        }, {}]
    }, {}, ["G9z0Bl"]);
    </script>
</head>

<body class=" lang_ar" dir='rtl'>
    <div class="content-wrapper" id="content">
        <section class="page-container">
            <header class="header-container">
                <div class="header-inner clearfix">
                    <div class="logo">
                        <a href="/"><img src="http://syasi.org/static/images/syasi-logo.png">
                        </a>
                    </div>
                    <nav class="header-horizontal-menu">
                            <ul>
                                <li><a href="/courses">تصفح المقررات</a>
                                </li>
                                <li><a href="/about">عن سياسي</a>
                                </li>
                                <li><a href="/staff">طاقم التدريس</a>
                                </li>
                                <li><a href="/academic-system">نظام الدراسة</a>
                                </li>
                                <li><a href="/contact">تواصل معنا</a>
                                </li>
                                <li><a href="/register">التسجيل</a>
                                  <li><a href="/login">دخول</a>
                                </li>
                                </li>
                                <li><a href="#payments-methods-modal" class="show-payment-methods" rel="leanModal">وسائل الدفع</a>
                                </li>
                            </ul>
                        </nav>
                </div>
            </header>
            <header class="upper-part">
                <section class="big-branding container">
                    <div class="messages-cards">
                        <div>
                            <h1>مرحباً بكم في الموقع الرسمي لمعهد سياسي</h1>
                        </div>
                        <div>
                            <h1>أول معهد تدريب سياسي إلكتروني في العالم العربي</h1>
                        </div>
                        <div>
                            <h1>هدفنا تقديم الدعم الأكاديمي و التدريب المهاري لكل الراغبين في المشاركة السياسية الإحترافية</h1>
                        </div>
                    </div>
                </section>
                <div class="join-cta">
                  <a class="register" href="${reverse('register_user')}">انضم الأن</a>
                </div>
            </header>
            <div class="lower-part">
                <section id="vision" class="branding-section vision">
                    <div class="video-player container clearfix">
                        
                        <iframe width="600" height="450" frameborder="0" allowfullscreen="1" src="https://www.youtube.com/embed/WGlS5oamhcI?theme=light&showinfo=0&color=white&rel=0&enablejsapi=1&origin=http%3A%2F%2Flocalhost%3A8000"></iframe>
                    <h2>نطمح إلى الوصول إلى جيل من الشباب القادر على ممارسة السياسة بحرفية و وعي</h2>

                    </div>
                    <!--
                <div class="play-yt"></div>
                <div id="player"></div>
                -->
                    <div class="news-scroller container">
                            <div>
                                <h1>نهنئ طلاب دفعة سبتمبر 2014 على إجتيازهم المقررات الدراسية بنجاح</h1>
                            </div>
                            <div>
                                <h1>تقدم إدارة المعهد لأوائل المقررات منحة مجانية لدراسة أحد المقررات من إختيارهم </h1>
                            </div>
                            <div>
                                <h1>تم فتح باب التسجيل لدفعة يناير 2015 ستبدأ الدراسة بجميع المقررات يوم السبت 31 يناير 2015</h1>
                            </div>
                        </div>
                </section>

                <section id="courses-show" class="call-to-action-section courses-show">
                    <div class="course-cards container">
                        <div class="courses">
                            <div class="card courses-listing-item">
                                <a href="/courses/political-thought/pt200/2015_1/about">
                                    <img src="http://syasi.org/c4x/political-thought/pt200/asset/images_course_image.jpg" alt="pt200 الفكر السياسي الإسلامي 1" />
                                    <h4>الفكر السياسي الإسلامي 1</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/political-thought/pt201/2015_1/about">
                                    <img src="http://syasi.org/c4x/political-thought/pt201/asset/images_course_image.jpg" alt="pt201 مدخل إلى الفكر السياسي الإسلامي 2" />
                                    <h4>مدخل إلى الفكر السياسي الإسلامي 2</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/pt401/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/pt401/asset/04.jpg" alt="pt401 2015 حقوق الإنسان" />
                                    <h4>2015 حقوق الإنسان</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/mr101/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/mr101/asset/10.jpg" alt="mr101 2015 منهجية و طرق البحث العلمي" />
                                    <h4>2015 منهجية و طرق البحث العلمي</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/ss101/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/ss101/asset/مدخل_لعلم_السياسة.jpg" alt="ss101 2015 مدخل إلى العلوم السياسية" />
                                    <h4>2015 مدخل إلى العلوم السياسية</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/iro101/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/iro101/asset/05.jpg" alt="iro101 2015 مقدمة في العلاقات الدولية" />
                                    <h4>2015 مقدمة في العلاقات الدولية</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/pp101/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/pp101/asset/06.jpg" alt="pp101 2015 قواعد الممارسة السياسية" />
                                    <h4>2015 قواعد الممارسة السياسية</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/iro201/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/iro201/asset/03.jpg" alt="iro201 2015 القانون و المنظمات الدولية" />
                                    <h4>2015 القانون و المنظمات الدولية</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/ec101/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/ec101/asset/01.jpg" alt="ec101 2015 مدخل الى علم الإقتصاد" />
                                    <h4>2015 مدخل الى علم الإقتصاد</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/mr201/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/mr201/asset/02.jpg" alt="mr201 2015 منهجية التعامل مع التراث السياسي الإسلامي" />
                                    <h4>2015 منهجية التعامل مع التراث السياسي الإسلامي</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/pt301/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/pt301/asset/07.jpg" alt="pt301 2015 مدخل إلى الفكر السياسي الغربي" />
                                    <h4>2015 مدخل إلى الفكر السياسي الغربي</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/pp201/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/pp201/asset/11.jpg" alt="pp201 2015 مقدمة في السياسات العامة" />
                                    <h4>2015 مقدمة في السياسات العامة</h4>
                                </a>
                            </div>
                            <div class="card courses-listing-item">
                                <a href="/courses/syasi/soc101/2015_1/about">
                                    <img src="http://syasi.org/c4x/syasi/soc101/asset/08.jpg" alt="soc101 2015 مدخل إلى علم الإجتماع" />
                                    <h4>2015 مدخل إلى علم الإجتماع</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="quote" class="branding-section quote">
                    <div class="author container">
                        عبد الوهاب المسيري
                    </div>
                    <blockquote class="quote-cite">
                        إن تأخير تكوين المثقف في العالم العربي أمر يؤثر في التنمية فهذا يعني أن الكثيرين يتساقطون في أثناء العملية التربوية ، وإن من يخرج سليما منها فإن سنين العطاء عنده تكون محدودة للغاية
                    </blockquote>

                </section>
                <section>
                    <section id="payments-methods-modal" class="modal payments-methods-modal" aria-hidden="true">
                        <div class="inner-wrapper" role="alertdialog" aria-labelledy="unenrollment-modal-title">
                            <button class="close-modal">
                                <i class="icon-remove"></i>
                                <span class="sr">
                      إغلاق 
                    </span>
                            </button>

                            <header>
                                <h2 id="unenrollment-modal-title">
                       وسائل الدفع
                      </span>
                    </h2>
                                <hr/>
                            </header>
                            <div id="unenroll_error" class="modal-form-error"></div>
                            <form id="unenroll_form" method="post" data-remote="true" action="/change_enrollment">

                                <div>
                                    <h2>التحويل البنكي للكويت </h2>
                                    <p>


                                        RISE COMPANY حساب رقم : 471010000630 بيت التمويل الكويتي - الكويت فرع اليرموك Kuwait Finance House Al-Yarmouk Branch Account#: 471010000630 IBAN: KW07 KFHO 0000 0000 0047 1010 0006 30 Swift Code: kfhokwkw

                                    </p>
                                    <br/>
                                    <h2>اونلاين عن طريق الباقات الائتمانية</h2>
                                    <p>


                                        عن طريق عمل حساب على www.paypal.com و الدفع عبر حسابانا في باي بال المتصل بهذا الايميل igooglizer@gmail.com

                                </div>
                                <div class="submit">
                                </div>
                            </form>
                        </div>
                    </section>
                </section>
                <section id="staff" class="branding-section staff clearfix">
                    <div class="browse-courses">
                        <a class="button" href="/staff">تعرف على طاقم التدريس</a>
                    </div>
                </section>
            </div>
            <footer>
                <ul class="pages">
                    <li><a href="/">الرئيسية</a>
                    </li>
                    <li><a href="/tos">شروط الإستخدام</a>
                    </li>
                    <li><a href="/about">عن سياسي</a>
                    </li>
                    <li><a href="/staff">طاقم التدريس</a>
                    </li>
                    <li><a href="/contact">تواصل معنا</a>
                    </li>
                </ul>
                <ul class="social">
                    <li><a target="blank" href="https://facebook.com/syasi.ipt">فيس بوك</a>
                    </li>
                    <li><a target="blank" href="https://twitter.com/Syasi_IPT">تويتر</a>
                    </li>
                </ul>
            </footer>
        </section>
        <script type="text/javascript" src="/static/js/vendor/slick-slider/slick/slick.7ce0e3223613.js"></script>
        <script src="http://www.youtube.com/player_api"></script>


        <script type="text/javascript">
        $(document).ready(function() {

            //$('.course-cards').slick({
            //    slidesToShow: 3,
            //    slidesToScroll: 1,
            //    rtl: true,
            //    draggable: true,
            //    infinite: false
            //});

            $('.staff-cards').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                rtl: true,
                draggable: true,
                infinite: false
            });

            $('.messages-cards').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                rtl: true,
                draggable: true,
                infinite: true,
                autoplay: true,
                arrows: false,
                speed: 6000
            });

            $('.news-scroller').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                rtl: true,
                draggable: true,
                infinite: true,
                autoplay: true,
                arrows: false,
                speed: 3000
            });

            accessible_modal('.show-payment-methods', "#payments-methods-modal .close-modal", "#payments-methods-modal", "#content");
        });
        </script>


        <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '450',
                width: '800',
                videoId: 'WGlS5oamhcI',
                playerVars: {
                    theme: 'light',
                    showinfo: 0,
                    color: 'white',
                    rel: 0
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            $('.play-yt').on('click', function() {
                $(this).hide();
                $('#player').show();
                event.target.playVideo();
                $('html, body').animate({
                    scrollTop: $("#navigation").offset().top
                }, 500);
            });

        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;

        function onPlayerStateChange(event) {
            // if (event.data == YT.PlayerState.PLAYING && !done) {
            //     setTimeout(stopVideo, 6000);
            //     done = true;
            // }
            if (event.data === 0) {
                $('html, body').animate({
                    scrollTop: $("#staff").offset().top
                }, 500);
            }
        }

        function stopVideo() {
            player.stopVideo();
        }
        </script>

    </div>

    <script>
    window.baseUrl = "/static/";
    </script>

    <script type="text/javascript" src="/static/js/lms-application.d2e93506af5e.js" charset="utf-8"></script>



    <script type="text/javascript" src="/static/js/lms-modules.176d70dc1a2b.js" charset="utf-8"></script>




    <script type="text/javascript">
    window.NREUM || (NREUM = {});
    NREUM.info = {
        "beacon": "beacon-1.newrelic.com",
        "queueTime": 0,
        "licenseKey": "0ba3cf1868",
        "agent": "js-agent.newrelic.com/nr-515.min.js",
        "transactionName": "M1dRYxZXXkAFUkQMXgoddUIKVURaC18fB0MFXFdeClEeRQ1URxYLDVxXUhw=",
        "applicationID": "4668529",
        "errorBeacon": "bam.nr-data.net",
        "applicationTime": 641
    }
    </script>
</body>

</html>