<%! from django.utils.translation import ugettext as _ %>

<%!
  from django.core.urlresolvers import reverse
  import waffle
%>


<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%block name="pagetitle">${_("Manager")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>
<%block name="nav_skip">#my-courses</%block>

<%block name="js_extra">
</%block>

<section class="container dashboard" id="dashboard-main" aria-hidden="false">

  <section class="my-courses" id="my-courses">
    <form action="${reverse('dump_all_users')}" method="GET">
      <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
      <input type="submit" value="Doooooo">
    </form>
    <header>
      <h2>طلبات تحتاج المراجعة</h2>
    </header>

    % if len(all_waiting_orders) > 0:

      <ul class="vertical-card-listing">
        % for order, items in all_waiting_orders:
          <li class="card tiny-rad" id="${order.id}">
            <header class="top shaded-area">
              <div class="clearfix">
                <div class="order-info">
                  <span class="order-number"> طلب رقم : ${order.id}</span>
                  <span class="ordered-by">بواسطة : <a href="${reverse('user_profile', kwargs={'username': order.user.username})}" target="_blank">
                  ${order.user.profile.name}</a></span>
                  <span class="ordered-by-email">إيميل : <a href="mailto:${order.user.email}" target="_blank">
                  ${order.user.email}</a></span>
                  <span class="order-cost">إجمالي : ${order.total_cost}$</span>
                </div>
                <section class="order-actions">
                  <form class="approve-order" action="${reverse('approve_order')}" method="post">
                    <input type="hidden" name="order_id" value="${order.id}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                    <input type="submit" class="d-btn small-padding" value="قبول">
                  </form>
                  <form class="decline-order" action="${reverse('cancel_order')}" method="post">
                    <input type="hidden" name="order_id" value="${order.id}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                    <input type="submit" class="d-btn small-padding" value="رفض">
                  </form>
                  <!--
                  <a href="#" class="include-files-toggle">المفات المرفقة</a>
                  -->
              </section>
              </div>
            </header>
            <div class="uploads">
              % if len(order.get_order_approval_uploads()) > 0:
                % for upload in order.get_order_approval_uploads():
                  <a href="${upload.img.cdn_url}" target="_blank"><img src="${upload.img.cdn_url}-/resize/150x150/" alt="${upload.description}" title="${upload.description}"></a>
                % endfor
              % else:
                <span>هذا الطالب لم يقم بإرفاق أي ملفات</span>
              % endif
            </div>
            
            <section class="items-in-order vertical-card-listing">
            <span>${_("Items in this Order")}</span>
            % for item in items:
              <div class="card tiny-rad">
                <header class="top shaded-area">
                  <div class="clearfix">
                    <div class="item-info">
                      <span class="item-description">${_(item.line_desc)}</span>
                      <span class="item-cost">إجمالي : ${item.unit_cost}$</span>
                    </div>
                    <!--
                    <section class="item-actions">
                      <input type="submit" class="d-btn small-padding" value="${_("Cancel")}">
                    </section>
                    -->
                  </div>
                </header>
                <!--
                <div class="uploads">
                  % if len(item.get_payment_approval_uploads()  ) > 0:
                    % for upload in item.get_payment_approval_uploads() :
                      <img src="${upload.img.cdn_url}-/resize/150x150/" alt="${upload.description}" title="${upload.description}">
                    % endfor
                  % else:
                    <span>هذا الطالب لم يقم بإرفاق أي ملفات</span>
                  % endif
                </div>
                -->
              </div>
            % endfor
            </section>
          </li>
        % endfor
      </ul>
    % else:
      <section class="empty-dashboard-message">
        <p>${_("Looks like there is no requests yet.")}</p>
      </section>
    % endif    

  </section>
</section>

