<%! from django.utils.translation import ugettext as _ %>

<%!
  from django.core.urlresolvers import reverse
  import waffle
%>


<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%block name="pagetitle">${_("Manager")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>
<%block name="nav_skip">#my-courses</%block>

<%block name="js_extra">
</%block>

<section class="container dashboard" id="dashboard-main" aria-hidden="false">

  <section class="my-courses" id="my-courses">
    <header>
      <h2>${_("All Waiting Approval Courses")}</h2>
    </header>

    % if len(all_waiting_orders) > 0:
      <ul class="listing-courses orders-listing">
        % for order, items in all_waiting_orders:
          <li class="course-item order-item" id="${order.id}">
            <header>
              <h3> ${_("Courses Basket ID: ")} ${order.id*7}</h3>
              <h2>${_("Ordered by: ")} ${order.user}</h2>
              <span>${_("Total Cost")} : ${order.total_cost} ${order.currency}</span>
              <section class="order-actions">
                <form action="${reverse('approve_order')}" method="post">
                  <input type="hidden" name="order_id" value="${order.id}">
                  <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                  <input type="submit" value="${_("Approve")}">
                </form>
                <form action="${reverse('cancel_order')}" method="post">
                  <input type="hidden" name="order_id" value="${order.id}">
                  <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
                  <input type="submit" value="${_("Decline")}">
                </form>
              </section>
            </header>
            
            <section class="items-in-order">
            <h3>${_("Items in this Order")}</h3>
            % for item in items:
              <div>
                <h3>${item.line_desc}</h3>
                <span>${_("Cost")} : ${item.unit_cost} ${item.currency}</span>
                <div class="uploads">
                % for upload in item.get_payment_approval_uploads():
                  <img src="${upload.img.cdn_url}-/resize/150x150/" alt="${upload.description}" title="${upload.description}">
                % endfor
                </div>
                <section class="item-actions">
                  <button>${_("update")}</button>
                  <button>${_("cancel")}</button>
                </section>
              </div>
            % endfor
            </section>
          </li>
        % endfor
      </ul>
    % else:
      <section class="empty-dashboard-message">
        <p>${_("Looks like you haven't registered for any courses yet.")}</p>
      </section>
    % endif    

  </section>
</section>

